.shadow {
  background:#F0F0F0 !important;
  box-shadow: none !important;
}

.line--shadow {
  width:100%;
  height:1.5rem;
}

.btn--shadow {
  display:inline-block;
  width:28%;
  height:2rem;
}

.square--shadow {
  width:30%;
  height:2rem;
  margin-bottom:1rem;
}
