//Colors

//COLORS
$color-primary:#75d6a9;
$color-primary-light: #7fd6d6;
$color-primary-dark:#00969e;
$color-links:#1cc3cc;
$color-primary-dark-2:#138a90;

$color-tertiary-dark:#6667aa;
$color-tertiary-light: #323d5e;

$color-primary-light-opacity:#7ed56f7c;
$color-primary-opacity:#55c57a71;

$color-grey-dark :#777;
$color-white :#fff;
$color-black :#000;
$color-grey-light-1:#f7f7f7;
$color-grey-dark-1:#eee;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-input:#f2f7fb;
$color-grey-light-4:#EDEEf0;
