.user-profile-order {
  padding:4rem 6rem;
  width:70%;
  margin:0 auto;

  @include respond(tab-port) {
    padding:2rem 3rem;
    width:80%;
  }

  @include respond(phone) {
    padding:1rem 1rem;
    width:100%;
  }

  .icon-image {
    width:6rem !important;
    height:6rem !important;
    img {
      width:100%;
      height:100%;
    }
  }
  .insurance-details {
    background:#f8f8f8 !important;
    padding:.8rem;
    display:flex;
    align-items: center;
  }

}
